extends layout

block content

  form(action="/books/new" method="post") 
    h2.error Oooops!
    ul.error 
      li Title is required
      li Author is required
      
      a.button(href="/") Cancel    
